<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Segmite Membership</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/images/fav_icon.webp" type="image/x-icon" />
  </head>
  <body>
    <%- include("./components/header") %>
    <div class="mx-auto container bg-white md:px-8 px-4">

        <h2 class="text-[#870027] text-2xl font-bold my-8 ">Membership Form</h2>


      <div class="grid lg:grid-cols-2 gap-5 content-start">
        <form id="membership_form" method="post" action="/send_mail" class="space-y-4 text-sm">
          <%- include("./components/input", { title: "Name (Prof. Dr. Engr.)", name: "fullname",
          placeholder: "Full Name", type: "text" }) %>

          <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
            <%- include("./components/input", { title: "Highest qualification", name:
            "qualification", placeholder: "Enter your Qualification", type: "text" }) %> <%-
            include("./components/input", { title: "Specialization", name: "specialization",
            placeholder: "Enter your Specialization", type: "text" }) %>
          </div>

          <%- include("./components/input", { title: "Designation and organization", name: "designation", placeholder: "Enter your Designation & Organization", type: "text" }) %>
          <%- include("./components/input", { title: "Address", name: "address", placeholder: "Enter your Address", type: "text" }) %>
          
          

          <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
            <%- include("./components/input", { title: "Email", name: "email", placeholder: "Enter your Email", type: "email" }) %>
          <%- include("./components/input", { title: "Cell", name: "cell", placeholder: "Enter your Cell Number", type: "text" }) %>
          </div>
          <!-- -------------------- -->

          <div>
            <label class="mb-2 block font-medium">Tick the membership desired:</label>
            <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
              <label
                ><input type="radio" name="membership" value="Student Member" class="mr-2" />
                Student Member</label
              >
              <label
                ><input type="radio" name="membership" value="Member" class="mr-2" /> Member</label
              >
              <label
                ><input type="radio" name="membership" value="Corporate Member" class="mr-2" />
                Corporate Member</label
              >
              <label
                ><input type="radio" name="membership" value="Life Member" class="mr-2" /> *Life
                Member</label
              >
            </div>
          </div>

          <div>
            <label class="mb-2 block font-medium">Field(s) applicable:</label>
            <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
              <label
                ><input type="checkbox" name="fields" value="Coal, oil & gas" class="mr-2" /> Coal,
                oil & gas</label
              >
              <label
                ><input type="checkbox" name="fields" value="Ore deposits" class="mr-2" /> Ore
                deposits</label
              >
              <label
                ><input
                  type="checkbox"
                  name="fields"
                  value="Industrial rocks & minerals"
                  class="mr-2"
                />
                Industrial rocks & minerals</label
              >
              <label
                ><input type="checkbox" name="fields" value="Mining/quarrying" class="mr-2" />
                Mining/quarrying</label
              >
              <label
                ><input
                  type="checkbox"
                  name="fields"
                  value="Mineral processing/ metallurgy"
                  class="mr-2"
                />
                Mineral processing/ metallurgy</label
              >
              <label
                ><input
                  type="checkbox"
                  name="fields"
                  value="Gemstones/ dimension stone"
                  class="mr-2"
                />
                Gemstones/ dimension stone</label
              >
              <label
                ><input type="checkbox" name="fields" value="Renewable energy" class="mr-2" />
                Renewable energy</label
              >
              <label
                ><input type="checkbox" name="fields" value="Water/air pollution" class="mr-2" />
                Water/air pollution</label
              >
              <label
                ><input type="checkbox" name="fields" value="Sea water intrusion" class="mr-2" />
                Sea water intrusion</label
              >
              <label
                ><input
                  type="checkbox"
                  name="fields"
                  value="Soil & ground water salinity"
                  class="mr-2"
                />
                Soil & ground water salinity</label
              >
              <label
                ><input
                  type="checkbox"
                  name="fields"
                  value="Mineral based industries"
                  class="mr-2"
                />
                Mineral based industries</label
              >
              <div>
                <input
                  type="text"
                  name="fields"
                  placeholder="Any other ( Field applicable )"
                  class="w-full rounded-md text-sm border px-2 py-2"
                />
              </div>
            </div>
          </div>

          <div>
            <label class="block font-medium">
              I would like to offer my services in SEGMITE consultancy projects. If yes, give
              details of professional experience.
            </label>
            <textarea
              name="experience"
              placeholder="Enter Professional Experience"
              class="mt-1 w-full rounded-md border p-2 max-h-100"
              maxlength="5000"
            ></textarea>
          </div>

          <div>
            <label class="block font-medium">Specific job(s) to be done</label>
            <textarea
              name="jobs"
              placeholder="Enter jobs to be done"
              class="mt-1 w-full rounded-md border p-2 max-h-100"
              maxlength="5000"
            ></textarea>
          </div>

          <div class="flex">
            <button
              type="submit"
              class="rounded-md bg-blue-600 px-6 py-2 text-white shadow hover:bg-blue-700"
            >
              Submit
            </button>
          </div>
        </form>

        <div class="max-lg:mt-10 h-fit text-sm leading-relaxed bg-gray-100 p-4 rounded-md">
          <h3 class="mb-2 font-semibold text-[16px]">Scope of SEGMITE & Membership Benefits</h3>
          <p>
            Society of Economic Geologists & Mineral Technologists is a fast growing international
            technical NGO, founded in Peshawar in 1989 with the aim of promoting sustainable
            development of minerals, water, and renewable energy resources, related industries and
            protection of the environment. SEGMITE has Members, Student Members and Corporate
            Members and Life Members from throughout Pakistan and many other countries.
          </p>
          <p class="mt-2">
            SEGMITE offers Membership to scientists and technologists engaged in research and
            teaching in the fields of Economic and Environmental Geology and applied sciences. Its
            Corporate Membership is open to those engaged in related industries or businesses.
          </p>
          <p class="mt-2">
            SEGMITE Membership benefits include discount in the registration fee for the SEGMITE
            national and international events organized throughout the year in Pakistan. The Society
            arranges training opportunities to its Student members and provides technical services
            to the Corporate members.
          </p>
          <p class="mt-2">
            The Society also publishes an Open Access, Quarterly, Peer reviewed, International
            Journal of Economic and Environmental Geology from University of Karachi. It is indexed
            in DOAJ, PASTIC, Google Scholar, BASE, Euro Pub Cross Ref DOI, ISI, ASI, SCI etc.
          </p>

          <h3 class="mt-4 font-semibold text-[16px]">Annual Membership Fee</h3>
          <p>
            <span class="font-semibold">Pakistani</span>: Student Member: Rs.1000/-, Member: Rs.
            2000/-, Corporate Member: Rs. 5000/-<br />
            <span class="font-semibold">Foreigner</span>: Student Member: USD 50/-, Member USD
            100/-, Corporate Member: USD 200/-
          </p>
          <p class="mt-2">
            <span class="font-semibold">Membership</span> fee may be paid for
            <span class="font-semibold">one</span>, <span class="font-semibold">two</span> or
            <span class="font-semibold">three</span>
            years in a Single Installment by Cheque drawn in favor of SEGMITE or Online (Account
            #IBAN: PK90NBPA10810041 02771446) and mailed to the
            <span class="font-semibold">Convener or Treasure</span> on the addresses given below.
          </p>
          <p class="mt-2">
            ❖ Senior scientists and Engineers and other interested may join as Life Members by
            paying to SEGMITE Rs. 5,000/- (local) or USD. 200$ (foreigners), respectively. The Life
            Corporate Membership fee is Rs. 10,000/-
          </p>

          <h3 class="mt-4 font-semibold text-[16px]">Contacts</h3>
          <p>
            <u>Prof. Dr.Viqar Husain</u><br />(Convener SEGMITE & Vice President AGID, Asia)<br />
            Chief Editor: Int. J. Economic & Environmental Geology<br />
            Department of Geology, University of Karachi, Pakistan<br />

            <a
              href="mailto:segmiteinternational@gmail.com"
              target="_blank"
              class="text-blue-800 hover:underline"
              >segmiteinternational@gmail.com</a
            >,
            <a
              href="mailto:chiefeditor.ijeeg@uok.edu.pk"
              target="_blank"
              class="text-blue-800 hover:underline"
              >chiefeditor.ijeeg@uok.edu.pk</a
            >
          </p>

          <p class="mt-2">
            <u>Assoc. Prof. Suhail Anjum</u><br />(Treasurer SEGMITE)<br />
            Department of Geology, Federal Urdu University Gulsahn Iqbal, Karachi, Pakistan<br />
            <a
              href="mailto:anjum_52@hotmail.com"
              target="_blank"
              class="text-blue-800 hover:underline"
              >anjum_52@hotmail.com</a
            >,
            <a href="mailto:segmite@gmail.com" target="_blank" class="text-blue-800 hover:underline"
              >segmite@gmail.com</a
            >
          </p>
        </div>
      </div>
    </div>

    <footer class="footer mt-10">
      <div class="footer-content">
        <p><strong>SEGMITE Secretariat</strong><br>
        Prof. Viqar Husain,<br>
        Convener SEGMITE & Editor-in-Chief IJEEG<br>
        Former Vice President AGID (Asia)<br>
        Department of Geology, University of Karachi, Pakistan<br>
        Email: <a href="mailto:chiefeditor.ijeeg@gmail.com">chiefeditor.ijeeg@gmail.com</a></p>
      </div>
    </footer>
  </body>
</html>
